body {
  margin: 0;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

.behind_modal {
  background-color: rgba(68, 0, 128, 0.195);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.modal {
  background-color: white;
  width: 200px;
  position: absolute;
  z-index: 2;
}

.hidden_modal {
  visibility: hidden;
}

.hidden_found_phone,
.hidden_specification {
  display: none;
}